@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
.witem, .aitem__icon, .aitem, .copyrights-text { display: inline-block; float: none; zoom: 1; *display: inline; vertical-align: top; font-size: 13px; line-height: normal; letter-spacing: normal; margin-left: 10px; min-height: 1px; }

.wlist { margin-left: -10px; font-size: 0px; letter-spacing: -7px; line-height: 0; }

.wlist { width: 960px; }
@media only screen and (min-width: 720px) and (max-width: 959px) { .wlist { margin-left: -2%; width: auto; } }
@media only screen and (min-width: 461px) and (max-width: 719px) { .wlist { margin-left: -2%; width: auto; } }
@media only screen and (max-width: 460px) { .wlist { width: auto; margin-left: 0; display: block; } }

.witem, .aitem__icon { width: 230px; }

.aitem { width: 470px; }

.copyrights-text { width: 550px; }

@media only screen and (min-width: 720px) and (max-width: 959px) { .witem { width: 31.33333%; margin-left: 2%; } }

@media only screen and (min-width: 720px) and (max-width: 959px) { .aitem, .aitem__icon { width: 48%; margin-left: 2%; } }

@media only screen and (min-width: 720px) and (max-width: 959px) { .copyrights-text { width: 56.33333%; margin-left: 2%; } }

@media only screen and (min-width: 720px) and (max-width: 959px) { .wlist__title { width: 98%; margin-left: 2%; } }

@media only screen and (min-width: 461px) and (max-width: 719px) { .witem, .aitem__icon { width: 48%; margin-left: 2%; } }

@media only screen and (min-width: 461px) and (max-width: 719px) { .wlist__title, .wlist__bigger, .aitem, .copyrights-text { width: 98%; margin-left: 2%; } }

@media only screen and (max-width: 460px) { .witem, .copyrights-text { width: auto; margin-left: 0; display: block; } }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

.global-wrapper { width: 100%; }

.center-wrapper { width: 960px; margin: 0 auto; }
@media only screen and (min-width: 720px) and (max-width: 959px) { .center-wrapper { padding: 0 2%; width: auto; } }
@media only screen and (min-width: 461px) and (max-width: 719px) { .center-wrapper { padding: 0 2%; width: auto; } }
@media only screen and (max-width: 460px) { .center-wrapper { padding: 0 2%; width: auto; } }

body { background: #f6f6f6; font-family: "Montserrat"; }
body.pull-left { margin-left: -80%; margin-right: 80%; background: #40494c; }

a { text-decoration: none; }

.global-wrapper { background: #f6f6f6; }

.header { background: #353c3e; border-bottom: 3px solid #040505; }

.header__menu { background: #40494c; }
@media only screen and (max-width: 959px) { .header__menu { position: absolute; width: 80%; display: none; right: 0; top: 0; }
  .header__menu.header__menu_visible { display: block; } }

.header__logo { color: white; font-size: 24px; }
.header__logo a { color: white; }

.header__logo__pic { width: 75px; height: 83px; background: #f26c4f; border-bottom: 3px solid #d04e33; display: inline-block; vertical-align: top; margin-bottom: -5px; text-align: center; }
@media only screen and (max-width: 959px) { .header__logo__pic { width: 45px; height: 49px; } }

.header__logo__pic__icon { display: inline-block; vertical-align: top; background: url('../img/icons/illustrate-s1579c7ae00.png') 0 -101px no-repeat; width: 24px; height: 24px; margin-top: 30px; }
@media only screen and (max-width: 959px) { .header__logo__pic__icon { margin-top: 13px; } }

.header__logo__name { margin: 23px 20px; text-transform: uppercase; font-weight: bold; display: inline-block; vertical-align: top; }
@media only screen and (min-width: 461px) and (max-width: 719px) { .header__logo__name { display: none; } }
@media only screen and (min-width: 720px) and (max-width: 959px) { .header__logo__name { display: none; } }
@media only screen and (max-width: 460px) { .header__logo__name { display: none; } }

.header__moto { max-width: 50%; float: right; text-align: right; margin: 30px; font-size: 13px; font-style: italic; color: #959595; }
@media only screen and (min-width: 461px) and (max-width: 719px) { .header__moto { display: none; } }
@media only screen and (max-width: 460px) { .header__moto { display: none; } }
@media only screen and (min-width: 720px) and (max-width: 959px) { .header__moto { display: none; } }

.header__search { float: right; height: 25px; background: #3c4345; padding: 17px 50px 17px 20px; position: relative; }
@media only screen and (max-width: 959px) { .header__search { float: none; } }

.header__search__input { background: none; border: none; text-transform: uppercase; color: #717b7e; font-size: 13px; height: 25px; width: 120px; }
.header__search__input::-webkit-input-placeholder { color: #717b7e; }
.header__search__input::-moz-input-placeholder { color: #717b7e; }
@media only screen and (max-width: 959px) { .header__search__input { width: 70%; } }

.header__search__btn { background: none; border: none; position: absolute; top: 20px; right: 20px; cursor: pointer; background: url('../img/icons/illustrate-s1579c7ae00.png') 0 -36px no-repeat; width: 26px; height: 21px; }

.header__nav { margin: 0; padding: 0; }
.header__nav li { list-style: none; color: #717b7e; font-size: 13px; line-height: 15px; display: inline-block; vertical-align: top; text-transform: uppercase; }
@media only screen and (max-width: 959px) { .header__nav li { display: block; width: 100%; border-top: 2px solid #050505; } }
.header__nav li a { color: inherit; padding: 22px 13px; display: inline-block; vertical-align: top; }
.header__nav li:first-child a { padding-left: 5px; }
.header__nav li.active, .header__nav li:hover { color: white; }

.header__menu-btn { display: none; }
@media only screen and (max-width: 959px) { .header__menu-btn { display: block; float: right; color: white; text-align: center; padding: 10px; width: 20px; height: 20px; margin-top: 4px; cursor: pointer; background: url('../img/icons/illustrate-s1579c7ae00.png') 0 0 no-repeat; background-color: #050505; background-position: 7px 7px; } }

.content { overflow: hidden; }

.wellcome-text { text-align: center; font-size: 24px; font-size: 2.2vw; line-height: 45px; line-height: 3vw; color: #777777; margin: 80px 0 50px; }
@media only screen and (min-width: 461px) and (max-width: 719px) { .wellcome-text { margin: 40px 0 25px; line-height: 30px; font-size: 18px; line-height: 30px; font-size: 2.2vw; line-height: 3vw; } }
@media only screen and (max-width: 460px) { .wellcome-text { margin: 40px 0 25px; line-height: 30px; font-size: 14px; line-height: 20px; font-size: 2.2vw; line-height: 3vw; } }
.wellcome-text small { font-size: 12px; line-height: 25px; display: block; margin-top: 10px; color: #cccccc; padding: 0 120px; }
@media only screen and (min-width: 461px) and (max-width: 719px) { .wellcome-text small { padding: 0; display: none; } }
@media only screen and (max-width: 460px) { .wellcome-text small { display: none; } }

.wlist { margin-bottom: 20px; }

.witem { color: #8f8f8f; font-size: 12px; line-height: 21px; margin-bottom: 20px; }

.witem__header { text-transform: uppercase; font-size: 16px; margin: 0 0 10px; }

.witem__header_color_dark { color: #353c3e; }

.witem__header_color_orange { color: #f26c4f; }

.witem__pic { overflow: hidden; width: auto; height: 200px; border-bottom: 3px solid #d04e33; text-align: center; }

.witem__inner { padding: 35px 40px; background: white; height: 225px; overflow: hidden; border-bottom: 3px solid #eaeaea; }
@media only screen and (min-width: 461px) and (max-width: 719px) { .witem__inner { height: 170px; padding: 17px 20px; } }
@media only screen and (max-width: 460px) { .witem__inner { height: 150px; padding: 17px 20px; } }

.aitem__icon { float: right; margin-left: 0; position: relative; height: 240px; }
@media only screen and (max-width: 460px) { .aitem__icon { width: 150px; height: 184px; } }
@media only screen and (min-width: 461px) and (max-width: 719px) { .aitem__icon { height: 204px; } }

.aitem__icon_bg_orange { background: #f26c4f; border-bottom: 3px solid #d04e33; }

.aitem__icon_bg_gray { background: #353c3e; border-bottom: 3px solid black; }

.aitem__inner { height: 170px; }
@media only screen and (max-width: 460px) { .aitem__inner { height: 150px; } }

.aitem__icon__img { position: absolute; left: 50%; top: 50%; }

.aitem__icon__img_settings { background: url('../img/icons/illustrate-s1579c7ae00.png') 0 0 no-repeat; width: 25px; height: 26px; margin-top: -13px; margin-left: -13px; }

.aitem__icon__img_camera { background: url('../img/icons/illustrate-s1579c7ae00.png') 0 -67px no-repeat; width: 29px; height: 24px; margin-top: -15px; margin-left: -12px; }

.copyrights-text { text-align: right; color: #bebebe; font-size: 12px; line-height: 20px; margin-bottom: 20px; float: right; overflow: hidden; }
.copyrights-text .title { color: #777777; margin: 0 0 20px 0; }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: white; text-shadow: 0 -1px 0 black; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
