.global-wrapper //wrapper for full page
  width: 100%
.center-wrapper //wrapper for centering page content
  width: $fullWidth
  margin: 0 auto
  +respond-to(lpad) //@todo: one query for devices
    padding: 0 2%
    width: auto
  +respond-to(pad) //@todo: one query for devices
    padding: 0 2%
    width: auto
  +respond-to(phone)
    padding: 0 2%
    width: auto
