// Normally mainpage styles
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)
$bodyBG: #f6f6f6
$headerBG: #353c3e
$headerBD: #040505
$headerNavBG: #40494c
$fontFamily: 'Montserrat'
$orange:#f26c4f
$orangeDark:#d04e33
$gray: #353c3e
$black: #000000
$icons: sprite-map("icons/illustrate/*.png", $spacing: 10px)
body
  background: $bodyBG
  font-family: $fontFamily
  &.pull-left
    margin-left: -80%
    margin-right: 80%
    background: $headerNavBG
a
  text-decoration: none
.global-wrapper
  background: $bodyBG
//header back
.header
  background: $headerBG
  border-bottom: 3px solid $headerBD
  //+respond-to(lpad)
  //  text-align: center
  //+respond-to(pad)
  //  text-align: center
  //+respond-to(phone)
  //  text-align: center
.header__menu
  background: $headerNavBG
  +respond-to(device)
    position: absolute
    width: 80%
    display: none
    right: 0
    top: 0
    &.header__menu_visible
      display: block

//hader logo box
.header__logo
  color: #ffffff
  font-size: 24px
  a
    color: #ffffff
.header__logo__pic
  width: 75px
  height: 83px
  background: $orange
  border-bottom: 3px solid $orangeDark
  +inline-block
  margin-bottom: -5px
  text-align: center
  +respond-to(device)
    width: 45px
    height: 49px
.header__logo__pic__icon
  +inline-block
  +s(logo)
  margin-top: 30px
  +respond-to(device)
    margin-top: 13px
.header__logo__name
  margin: 23px 20px
  text-transform: uppercase
  font-weight: bold
  +inline-block
  +respond-to(pad)
    display: none
  +respond-to(lpad)
    display: none
  +respond-to(phone)
    display: none
.header__moto
  max-width: 50%
  float: right
  text-align: right
  margin: 30px
  font:
    size: 13px
    style: italic
  color: #959595
  +respond-to(pad)
    display: none
  +respond-to(phone)
    display: none
  +respond-to(lpad)
    display: none



//header search
.header__search
  float: right
  height: 25px
  background: #3c4345
  padding: 17px 50px 17px 20px
  position: relative
  +respond-to(device)
    float: none
.header__search__input
  background: none
  border: none
  text-transform: uppercase
  color: #717b7e
  font-size: 13px
  height: 25px
  width: 120px
  &::-webkit-input-placeholder
    color: #717b7e
  &::-moz-input-placeholder
    color: #717b7e
  +respond-to(device)
    width: 70%
.header__search__btn
  background: none
  border: none
  position: absolute
  top: 20px
  right: 20px
  cursor: pointer
  +s(search)


//header nav
.header__nav
  margin: 0
  padding: 0
  li
    list-style: none
    color: #717b7e
    font-size: 13px
    line-height: 15px
    +inline-block
    text-transform: uppercase
    +respond-to(device)
      display: block
      width: 100%
      border-top: 2px solid #050505
    a
      color: inherit
      padding: 22px 13px
      +inline-block
    &:first-child a
      padding-left: 5px
    &.active, &:hover
      color: #ffffff
.header__menu-btn
  display: none
  +respond-to(device)
    display: block
    float: right
    color: #ffffff
    text-align: center
    padding: 10px
    width: 20px
    height: 20px
    margin-top: 4px
    cursor: pointer
    +si(settings)
    background-color: #050505
    background-position: 7px 7px

.content
  overflow: hidden //some hack


//wellcome text
.wellcome-text
  text-align: center
  font-size: 24px
  font-size: 2.2vw
  line-height: 45px
  line-height: 3vw
  color: #777777
  margin: 80px 0 50px
  +respond-to(pad)
    margin: 40px 0 25px
    line-height: 30px
    font-size: 18px
    line-height: 30px
    font-size: 2.2vw
    line-height: 3vw
  +respond-to(phone)
    margin: 40px 0 25px
    line-height: 30px
    font-size: 14px
    line-height: 20px
    font-size: 2.2vw
    line-height: 3vw
  small
    font-size: 12px
    line-height: 25px
    display: block
    margin-top: 10px
    color: #cccccc
    padding: 0 120px
    +respond-to(pad)
      padding: 0
      display: none
    +respond-to(phone)
      display: none

//work list
.wlist
  @extend %cell_container
  margin-bottom: 20px
.witem
  @extend %cell6
  @extend %lt-cell4
  @extend %t-cell6
  @extend %p-cell
  color: #8f8f8f
  font-size: 12px
  line-height: 21px
  margin-bottom: 20px
.witem__header
  text-transform: uppercase
  font-size: 16px
  margin: 0 0 10px
.witem__header_color_dark
  color: $gray
.witem__header_color_orange
  color: $orange
.witem__pic
  overflow: hidden
  width: auto
  height: 200px
  border-bottom: 3px solid $orangeDark
  text-align: center
.witem__inner
  padding: 35px 40px
  background: #ffffff
  height: 225px
  overflow: hidden
  border-bottom: 3px solid #eaeaea
  +respond-to(pad)
    height: 170px
    padding: 17px 20px
  +respond-to(phone)
    height: 150px
    padding: 17px 20px

.wlist__title
  @extend %lt-cell12
  @extend %t-cell12
.wlist__bigger
  @extend %t-cell12

//about block
.aitem
  @extend %cell12
  @extend %lt-cell6
  @extend %t-cell12
.aitem__icon
  @extend %cell6
  @extend %lt-cell6
  @extend %t-cell6
  float: right
  margin-left: 0
  position: relative
  height: 240px
  +respond-to(phone)
    width: 150px
    height: 184px
  +respond-to(pad)
    height: 204px
.aitem__icon_bg_orange
  background: $orange
  border-bottom: 3px solid $orangeDark
.aitem__icon_bg_gray
  background: $gray
  border-bottom: 3px solid $black
.aitem__inner
  height: 170px
  +respond-to(phone)
    height: 150px
.aitem__icon__img
  position: absolute
  left: 50%
  top: 50%
.aitem__icon__img_settings
  +s(settings)
  margin-top: -13px
  margin-left: -13px
.aitem__icon__img_camera
  +s(camera)
  margin-top: -15px
  margin-left: -12px

.copyrights-text
  @extend %cell14
  @extend %lt-cell7
  @extend %t-cell12
  @extend %p-cell
  text-align: right
  color: #bebebe
  font-size: 12px
  line-height: 20px
  margin-bottom: 20px
  float: right
  overflow: hidden
  .title
    color: #777777
    margin: 0 0 20px 0

//utils

