$fullWidth: 960px;//for desktop
$cellWidth: 30px;//for desktop
$gutterWidth: 10px;//for all
$colNum: 24;//for desktop
$pColNum: 1;//for phone
$tColNum: 12;//for pad
$G_fontsize: 13px;
@mixin cellInit{
  display: inline;
  float: left;
}
@mixin inlineBlockModelParent{
  font-size: 0px;
  letter-spacing: -7px;
  line-height: 0;
}
@mixin inlineBlockModel{
  display: inline-block;
  float: none;
  zoom:1;
  *display: inline;
  vertical-align: top;
  font-size: $G_fontsize;
  line-height:normal;
  letter-spacing:normal;
}
%cellInit{
  @include inlineBlockModel;
  margin-left: $gutterWidth;
  min-height: 1px;
}
%cell_containerInit{
  margin-left: -($gutterWidth);
  @include inlineBlockModelParent;
}
%cell_container{
  @extend %cell_containerInit;
  width: $fullWidth;
  @include respond-to(lpad){
    margin-left: -2%;
    width: auto;
  }
  @include respond-to(pad){
    margin-left: -2%;
    width: auto;
  }
  @include respond-to(phone){
    width: auto;
    margin-left: 0;
    display: block;
  }
}
@mixin cellDefine($cellWidth){
  width: $cellWidth;
}
@mixin cellCreateOffset($fullWidth, $gutterWidth, $colNum, $offsetNum){
  margin-left: ($fullWidth / $colNum) * $offsetNum + $gutterWidth * $offsetNum;
}
@mixin cellCreate($fullWidth, $gutterWidth, $colIndex, $colNum){
  @include cellDefine($cellWidth: ($fullWidth / $colNum) * $colIndex - $gutterWidth );
}
@for $i from 1 through $colNum{
  %cell#{$i} {
    @extend %cellInit;
    @include cellCreate($fullWidth, $gutterWidth, $i, $colNum);
  }
}
@for $i from 1 through $tColNum{
  %lt-cell#{$i}{
    @include respond-to(lpad){
      @include cellCreate(100%, 2%, $i, $tColNum);
      margin-left: 2%;
    }
  }
}
@for $i from 1 through $tColNum{
  %t-cell#{$i}{
    @include respond-to(pad){
      @include cellCreate(100%, 2%, $i, $tColNum);
      margin-left: 2%;
    }
  }
}
%p-cell{
  @include respond-to(phone){
    width: auto;
    margin-left: 0;
    display: block;
  }
}
//@for $i from 1 through $colNum{
//  @for $j from 1 through $i - 1 {
//    .cell_#{$i} {
//      &.offset-#{$j} {
//        @include cellCreateOffset($fullWidth, $gutterWidth, $colNum, $j);
//      }
//    }
//  }
//}
