// responsive example, edit or remove
$break-small: 460px;
$break-md: 720px;
$break-large: 960px;
@mixin respond-to($media) {
	@if $media == phone {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == pad {
		@media only screen and (min-width: $break-small + 1)  and (max-width: $break-md - 1){ @content; }
	}
    @else if $media == lpad {
      @media only screen and (min-width: $break-md)  and (max-width: $break-large - 1){ @content; }
    }
    @else if $media == device {
      @media only screen and (max-width: $break-large - 1){ @content; }
    }
}
// retina bg
@mixin retina{
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
		@content;
	}
}
@mixin r($media){
	@include respond-to($media);
}
//asdfast font-family
@mixin font($alias, $name){
	@font-face{
		font-family: $alias;
		src: url('fonts/'+$name+'.eot');
		src: url("fonts/"+$name+".eot?#iefix") format("embedded-opentype"), url("fonts/"+$name+".woff") format("woff"), url("fonts/"+$name+".ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}
}

//+font(black, cytiapro-black-webfont)

// ROTATE
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
	-moz-transform: rotate($deg + deg);
	-o-transform: rotate($deg + deg);
	-webkit-transform: rotate($deg + deg);
	-ms-transform: rotate($deg + deg);
	transform: rotate($deg + deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
	zoom: 1;
}

// TRANSITION
@mixin transition($what) {
	-moz-transition:    $what;
	-o-transition:      $what;
	-webkit-transition: $what;
	-ms-transition:     $what;
	transition:         $what;
}
%hide-text{
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
%clr{
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}
@mixin placeholder-color($color) {
	&:-moz-placeholder {
		color: $color;
	}
	&::-webkit-input-placeholder {
		color: $color;
	}
}

%gray{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
}
%gray-half{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray alpha(opacity=50); /* IE6-9 */
	-webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
}
%gray-zero{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}
@mixin unselectable() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin prevent-text(){
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
@mixin font-smoothing($val: antialiased) {
	 -webkit-font-smoothing: $val;
	 -moz-font-smoothing: $val;
	 -ms-font-smoothing: $val;
	 -o-font-smoothing: $val;
}
@mixin selection {
	& ::selection {
		@content;
	}
	& ::-moz-selection {
		@content;
	}
}
@mixin inline-block{
  display: inline-block;
  vertical-align: top
}